<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
      <div class="col-sm-8 cl-sm-offset-2 col-md-8 col-md-offset-2">
        <h2>Iniciar sesión</h2>
        <hr>
        <!--<p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@test.com</code> / <code>test</code></p>
        <p>Admin account is <code>admin@admin.com</code> / <code>admin</code></p>-->
      </div>
      <div class="col-sm-8 cl-sm-offset-2 col-md-8 col-md-offset-2">
        <form class="form" name="form" ng-submit="login(form)" novalidate>

          <div class="form-group test">
            <input type="email" name="email" class="form-control field-button" ng-model="user.email" placeholder="Email" required>
          </div>

          <div class="form-group test">
            <input type="password" name="password" class="form-control field-button" ng-model="user.password" placeholder="Contraseña" required>
          </div>

          <div class="form-group has-error">
            <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
               Por favor, inserte tu email y contraseña.
            </p>
            <p class="help-block" ng-show="form.email.$error.email && submitted">
               Por favor, inserta un email correcto.
            </p>

            <p class="help-block">{{ errors.other }}</p>
          </div>

          <div>
            <button class="btn btn-primary btn-login btn-entrar" type="submit">
              Entrar
            </button>
            <!--<a class="btn btn-default btn-sm btn-register" href="/signup">
              Register
            </a>-->
          </div>

          <hr>
          <a class="btn btn-facebook" disabled="disabled" href="" ng-click="loginOauth('facebook')">
            <i class="fa fa-facebook"></i> Conecta con Facebook
          </a>
          <a class="btn btn-google-plus" disabled="disabled" href="" ng-click="loginOauth('google')">
            <i class="fa fa-google-plus"></i> Conecta con Google+
          </a>
          <a class="btn btn-twitter" disabled="disabled" href="" ng-click="loginOauth('twitter')">
            <i class="fa fa-twitter"></i> Conecta con Twitter
          </a>
          <hr>
          <div class="log-reg">
            <p>¿Nuevo en HelpButtons? <a href="/signup">Regístrate ahora »</a></p>
          </div>
        </form>
      </div>
    </div>
</div>

<footer class="footer">
  <div class="container">
    <p>Watchoutfreedom |
      <a href="https://twitter.com/HelpButtons">@HelpButtons</a> |
      <a href="">Contact</a>
    </p>
  </div>
</div>
</footer>
