.registro { width: 90%; padding-bottom: 10px;}

.registro-bg { width: 70%; margin: 0 auto; padding: 0px 6px 10px 6px; }

.btn-reg {
    background-color: #3ACA9A;
    color: #FFFFFF;
    border-radius: 15px 15px 15px 15px;
    width: 40%;
    margin: 0 auto;
    display: inherit;
}

.cabeceraReg { padding-left: 60px; padding-top: 10px;}

.cabeceraRegFin { padding-left: 15px; padding-top: 50px; padding-bottom: 50px;}

.campos-regis { margin: 0 auto; padding-bottom: 20px; padding-top: 10px;}

.titulo-setting { text-align: center; }


/*.env-reg {
background: url('/assets/images/prueba.png') no-repeat fixed center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
//  background-color: #E7E7E7;
background-size: cover;
border-radius: 15px 15px 15px 15px;
}*/
